input, textarea, label {
  display: block;
}

input[type=text], input[type=number], input[type=email], input[type=password], textarea, select {
  border: 1px #b4afaa solid;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 1px #b4afaa;
  -moz-box-shadow: inset 0 0 1px #b4afaa;
  box-shadow: inset 0 0 1px #b4afaa;
  width: 100%;
  background-color: #fcfcfc;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  width: auto;
}

select {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding: .1rem .5rem;
  background-image: url(/public/media/icons/icon_down_arrow_gray.svg);
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: right 8px center;
}

textarea {
  resize: none;
}

label {
  color: #5a5550;
  font-weight: 600;
}

.pointer {
  cursor: pointer;
}

.pointer-not-allowed {
  cursor: not-allowed;
}

.help:before {
  color: #96918c;
  content: "<---";
  padding-right: 1rem;
}

.help {
  color: #5a5550;
}

.width-auto {
  width: auto;
}

/* SKIN FOR RADIO BUTTONS */
.skinned-radio.enabled:hover {
  border-color: #3c3732;
}

.skinned-radio.disabled {
  background-color: #f4f4f4;
  border-color: #d2cdc8;
  color: #d2cdc8;
}

.skinned-radio.disabled.checked {
  border-color: #b4afaa;
  background-color: #d2cdc8;
  color: #96918c;
}

/* SKIN FOR CHECKBOX */
.skinned-checkbox {
  -webkit-box-shadow: inset 0 0 1px #b4afaa;
  -moz-box-shadow: inset 0 0 1px #b4afaa;
  box-shadow: inset 0 0 1px #b4afaa;
  height: 1rem;
  width: 1rem;
  margin: .2rem;
  line-height: 1rem;
}
.skinned-checkbox span {
  display: none;
}

.skinned-checkbox.enabled:hover {
  border-color: #3c3732;
}

.skinned-checkbox.disabled {
  background-color: #f4f4f4;
  border-color: #d2cdc8;
  color: #d2cdc8;
}

.skinned-checkbox.checked span {
  display: initial;
  margin-left: .125rem;
}

.textarea-countdown {
  position: absolute;
  right: .5rem;
  bottom: 0.1rem;
}

.expandable .arrow {
  -webkit-transition: .5s ease;
  -moz-transition: .5s ease;
  -o-transition: .5s ease;
  -ms-transition: .5s ease;
  transition: .5s ease;
}

.expandable.collapsed .expandable-content {
  display: none;
}

.expandable.collapsed .arrow {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.arrow-right {
  border-top: 1.35rem solid transparent;
  border-bottom: 1.35rem solid transparent;
  border-left: .8rem solid #9C282B;
}

.border-thicker {
  border-width: 2px;
}

textarea:disabled, input:disabled, select:disabled {
  border-color: #d2cdc8;
  background-color: #f4f4f4;
  color: #d2cdc8;
  cursor: not-allowed;
}

.ui-autocomplete {
  max-height: 25rem;
  overflow: scroll;
}

.ui-widget {
  font-family: inherit;
  font-size: initial;
}

.ui-widget-content a {
  text-decoration: none;
}

.ui-widget-content .ui-state-focus {
  background: #d2cdc8;
  margin: 0;
  border: none;
}

.ui-widget-content .ui-state-focus.disabled {
  background: none;
  cursor: initial;
  margin: 0;
}

#add-new-school img {
  height: 32px;
}

.ui-autocomplete-loading {
  /* add the !important to avoid third party conflicts (such as last pass) */
  background-image: url("/public/img/preloader_orange_radial.gif") !important;
  background-attachment: scroll!important;
  background-position: 98% 50% !important;
  background-repeat: no-repeat !important;
  background-size: 1.5rem 1.5rem !important;
}

.invisible {
  display: none;
}
.qq-hide {
  display: none;
}

.delete-icon {
  background: url('/public/img/icon_delete@2x.png') no-repeat;
  background-size: 18px;
  height: 18px;
  display: block;
}

