/*

  Basscss
  http://basscss.com

  5.8 kB
  569 Rules
  677 Selectors
  885 Declarations
  Generated with http://basscss.com/customize

*/

body { margin: 0 }
img { max-width: 100% }
svg { max-height: 100% }

input,
select,
textarea,
fieldset {
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
}

label {
  vertical-align: middle;
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=time],
input[type=url],
input[type=week] {
  height: 2.25rem;
  padding: .5rem .5rem;
  vertical-align: middle;
  -webkit-appearance: none;
}

select {
  line-height: 1.75;
  padding: .5rem .5rem;
}

select:not([multiple]) {
  height: 2.25rem;
  vertical-align: middle;
}

textarea {
  line-height: 1.75;
  padding: .5rem .5rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: .25rem 1rem;
  line-height: inherit;
}

th { vertical-align: bottom }
td { vertical-align: top }

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre, code, samp {
  font-family: 'Source Code Pro', Consolas, monospace;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow-x: scroll;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4 { font-size: 1rem }
h5 { font-size: .875rem }
h6 { font-size: .75rem }

body {
  color: #111;
  background-color: #fff;
}

a {
  color: #0074d9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

pre, code {
  background-color: transparent;
  border-radius: 3px;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.field {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
  border-radius: 3px;
}

.field:focus,
.field.is-focused {
  outline: none;
  border-color: #0074d9;
  box-shadow: 0 0 0 2px rgba(0, 116, 217, 0.5);
}

.field:disabled,
.field.is-disabled {
  background-color: rgba(0,0,0,.125);
  opacity: .5;
}

.field:read-only:not(select),
.field.is-read-only {
  background-color: rgba(0,0,0,.125);
}


.field.is-success {
  border-color: #2ecc40;
}

.field.is-success:focus,
.field.is-success.is-focused {
  box-shadow: 0 0 0 2px rgba(46, 204, 64, 0.5);
}

.field.is-warning {
  border-color: #ffdc00;
}

.field.is-warning:focus,
.field.is-warning.is-focused {
  box-shadow: 0 0 0 2px rgba(255, 220, 0, 0.5);
}

.field:invalid,
.field.is-error {
  border-color: #ff4136;
}

.field:invalid:focus,
.field:invalid.is-focused,
.field.is-error:focus,
.field.is-error.is-focused {
  box-shadow: 0 0 0 2px rgba(255, 65, 54, 0.5);
}

.table-light th,
.table-light td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.125);
}

.table-light tr:last-child td {
  border-bottom: 0;
}

.btn {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}

.btn:hover {
  text-decoration: none;
}

.btn:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn-primary {
  color: white;
  background-color: #0074d9;
  border-radius: 3px;
}

.btn-primary:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-primary:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-primary:disabled,
.btn-primary.is-disabled {
  opacity: .5;
}

.btn-outline,
.btn-outline:hover {
  border-color: currentcolor;
}

.btn-outline {
  border-radius: 3px;
}

.btn-outline:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.btn-outline:active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.btn-outline:disabled,
.btn-outline.is-disabled {
  opacity: .5;
}

.btn-small {
  padding: .25rem .5rem;
}

.btn-big {
  padding: 1rem 1.25rem;
}

.btn-narrow {
  padding-left: .5rem;
  padding-right: .5rem;
}

.h1 { font-size: 2rem }
.h2 { font-size: 1.5rem }
.h3 { font-size: 1.25rem }
.h4 { font-size: 1rem }
.h5 { font-size: .875rem }
.h6 { font-size: .75rem }

.bold    { font-weight: bold; font-weight: bold !important }
.regular { font-weight: normal }
.italic  { font-style: italic }
.caps    { text-transform: uppercase; letter-spacing: .2em; }

.left-align   { text-align: left }
.center       { text-align: center }
.right-align  { text-align: right }
.justify      { text-align: justify }

.nowrap { white-space: nowrap }
.break-word { word-wrap: break-word }

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.inline       { display: inline }
.block        { display: block }
.inline-block { display: inline-block }
.table        { display: table }
.table-cell   { display: table-cell }

.overflow-hidden { overflow: hidden }
.overflow-scroll { overflow: scroll }
.overflow-auto   { overflow: auto }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.left  { float: left }
.right { float: right }

.fit { max-width: 100% }

.border-box { box-sizing: border-box }

.align-baseline { vertical-align: baseline }
.align-top      { vertical-align: top }
.align-middle   { vertical-align: middle }
.align-bottom   { vertical-align: bottom }

.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m1  { margin: .5rem }
.mt1 { margin-top: .5rem }
.mr1 { margin-right: .5rem }
.mb1 { margin-bottom: .5rem }
.ml1 { margin-left: .5rem }

.m2  { margin: 1rem }
.mt2 { margin-top: 1rem }
.mr2 { margin-right: 1rem }
.mb2 { margin-bottom: 1rem }
.ml2 { margin-left: 1rem }

.m3  { margin: 2rem }
.mt3 { margin-top: 2rem }
.mr3 { margin-right: 2rem }
.mb3 { margin-bottom: 2rem }
.ml3 { margin-left: 2rem }

.m4  { margin: 4rem }
.mt4 { margin-top: 4rem }
.mr4 { margin-right: 4rem }
.mb4 { margin-bottom: 4rem }
.ml4 { margin-left: 4rem }

.mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
.mxn2 { margin-left: -1rem; margin-right: -1rem; }
.mxn3 { margin-left: -2rem; margin-right: -2rem; }
.mxn4 { margin-left: -4rem; margin-right: -4rem; }

.mx-auto { margin-left: auto; margin-right: auto; }
.p0 { padding: 0 }

.p1  { padding: .5rem }
.py1 { padding-top: .5rem; padding-bottom: .5rem }
.px1 { padding-left: .5rem; padding-right: .5rem }

.p2  { padding: 1rem }
.py2 { padding-top: 1rem; padding-bottom: 1rem }
.px2 { padding-left: 1rem; padding-right: 1rem }

.p3  { padding: 2rem }
.py3 { padding-top: 2rem; padding-bottom: 2rem }
.px3 { padding-left: 2rem; padding-right: 2rem }

.p4  { padding: 4rem }
.py4 { padding-top: 4rem; padding-bottom: 4rem }
.px4 { padding-left: 4rem; padding-right: 4rem }

.relative { position: relative }
.absolute { position: absolute }
.fixed    { position: fixed }

.top-0    { top: 0 }
.right-0  { right: 0 }
.bottom-0 { bottom: 0 }
.left-0   { left: 0 }

.z1 { z-index: 1 }
.z2 { z-index: 2 }
.z3 { z-index: 3 }
.z4 { z-index: 4 }

.sm-show, .md-show, .lg-show {
  display: none
}

@media (min-width: 40em) {
  .sm-show { display: block }
}

@media (min-width: 52em) {
  .md-show { display: block }
}

@media (min-width: 64em) {
  .lg-show { display: block }
}


@media (min-width: 40em) {
  .sm-hide { display: none }
}

@media (min-width: 52em) {
  .md-hide { display: none }
}

@media (min-width: 64em) {
  .lg-hide { display: none }
}

.display-none { display: none }

.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.container {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
}
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}
@media (min-width: 40em) {

  .sm-col {
    float: left;
    box-sizing: border-box;
  }

  .sm-col-right {
    float: right;
    box-sizing: border-box;
  }

  .sm-col-1 {
    width: 8.33333%;
  }

  .sm-col-2 {
    width: 16.66667%;
  }

  .sm-col-3 {
    width: 25%;
  }

  .sm-col-4 {
    width: 33.33333%;
  }

  .sm-col-5 {
    width: 41.66667%;
  }

  .sm-col-6 {
    width: 50%;
  }

  .sm-col-7 {
    width: 58.33333%;
  }

  .sm-col-8 {
    width: 66.66667%;
  }

  .sm-col-9 {
    width: 75%;
  }

  .sm-col-10 {
    width: 83.33333%;
  }

  .sm-col-11 {
    width: 91.66667%;
  }

  .sm-col-12 {
    width: 100%;
  }

}
@media (min-width: 52em) {

  .md-col {
    float: left;
    box-sizing: border-box;
  }

  .md-col-right {
    float: right;
    box-sizing: border-box;
  }

  .md-col-1 {
    width: 8.33333%;
  }

  .md-col-2 {
    width: 16.66667%;
  }

  .md-col-3 {
    width: 25%;
  }

  .md-col-4 {
    width: 33.33333%;
  }

  .md-col-5 {
    width: 41.66667%;
  }

  .md-col-6 {
    width: 50%;
  }

  .md-col-7 {
    width: 58.33333%;
  }

  .md-col-8 {
    width: 66.66667%;
  }

  .md-col-9 {
    width: 75%;
  }

  .md-col-10 {
    width: 83.33333%;
  }

  .md-col-11 {
    width: 91.66667%;
  }

  .md-col-12 {
    width: 100%;
  }

}
@media (min-width: 64em) {

  .lg-col {
    float: left;
    box-sizing: border-box;
  }

  .lg-col-right {
    float: right;
    box-sizing: border-box;
  }

  .lg-col-1 {
    width: 8.33333%;
  }

  .lg-col-2 {
    width: 16.66667%;
  }

  .lg-col-3 {
    width: 25%;
  }

  .lg-col-4 {
    width: 33.33333%;
  }

  .lg-col-5 {
    width: 41.66667%;
  }

  .lg-col-6 {
    width: 50%;
  }

  .lg-col-7 {
    width: 58.33333%;
  }

  .lg-col-8 {
    width: 66.66667%;
  }

  .lg-col-9 {
    width: 75%;
  }

  .lg-col-10 {
    width: 83.33333%;
  }

  .lg-col-11 {
    width: 91.66667%;
  }

  .lg-col-12 {
    width: 100%;
  }

}

.flex { display: -ms-flexbox; display: flex }

.flex-column  { -ms-flex-direction: column; flex-direction: column }
.flex-wrap    { -ms-flex-wrap: wrap; flex-wrap: wrap }

.flex-center   { -ms-flex-align: center; align-items: center }
.flex-baseline { -ms-flex-align: baseline; align-items: baseline }
.flex-stretch  { -ms-flex-align: stretch; align-items: stretch }
.flex-start    { -ms-flex-align: start; align-items: flex-start }
.flex-end      { -ms-flex-align: end; align-items: flex-end }

.flex-justify  { -ms-flex-pack: justify; justify-content: space-between }

.flex-auto { -ms-flex: 1 1 auto; flex: 1 1 auto }
.flex-grow { -ms-flex: 1 0 auto; flex: 1 0 auto }
.flex-none { -ms-flex: none; flex: none }

.flex-first { -ms-flex-order: -1; order: -1 }
.flex-last  { -ms-flex-order: 99999; order: 99999 }
@media (min-width: 40em) {
  .sm-flex { display: -ms-flexbox; display: flex }
}
@media (min-width: 52em) {
  .md-flex { display: -ms-flexbox; display: flex }
}
@media (min-width: 64em) {
  .lg-flex { display: -ms-flexbox; display: flex }
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0,0,0,.125);
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: rgba(0,0,0,.125);
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: rgba(0,0,0,.125);
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0,0,0,.125);
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: rgba(0,0,0,.125);
}

.border-none { border: 0 }

.rounded { border-radius: 3px }
.circle  { border-radius: 50% }

.rounded-top    { border-radius: 3px 3px 0 0 }
.rounded-right  { border-radius: 0 3px 3px 0 }
.rounded-bottom { border-radius: 0 0 3px 3px }
.rounded-left   { border-radius: 3px 0 0 3px }

.not-rounded { border-radius: 0 }

.black  { color: #111 }
.gray   { color: #aaa }
.silver { color: #ddd }
.white  { color: #fff }

.aqua  { color: #7fdbff }
.blue  { color: #0074d9 }
.navy  { color: #001f3f }
.teal  { color: #39cccc }
.green { color: #2ecc40 }
.olive { color: #3d9970 }
.lime  { color: #01ff70 }

.yellow  { color: #ffdc00 }
.orange  { color: #ff851b }
.red     { color: #ff4136 }
.fuchsia { color: #f012be }
.purple  { color: #b10dc9 }
.maroon  { color: #85144b }

.color-inherit { color: inherit }
.muted { opacity: .5 }

.bg-black  { background-color: #111 }
.bg-gray   { background-color: #aaa }
.bg-silver { background-color: #ddd }
.bg-white  { background-color: #fff }

.bg-aqua  { background-color: #7fdbff }
.bg-blue  { background-color: #0074d9 }
.bg-navy  { background-color: #001f3f }
.bg-teal  { background-color: #39cccc }
.bg-green { background-color: #2ecc40 }
.bg-olive { background-color: #3d9970 }
.bg-lime  { background-color: #01ff70 }

.bg-yellow  { background-color: #ffdc00 }
.bg-orange  { background-color: #ff851b }
.bg-red     { background-color: #ff4136 }
.bg-fuchsia { background-color: #f012be }
.bg-purple  { background-color: #b10dc9 }
.bg-maroon  { background-color: #85144b }

.bg-darken-1 { background-color: rgba(0,0,0,.0625) }
.bg-darken-2 { background-color: rgba(0,0,0,.125) }
.bg-darken-3 { background-color: rgba(0,0,0,.25) }
.bg-darken-4 { background-color: rgba(0,0,0,.5) }

.bg-cover   { background-size: cover }
.bg-contain { background-size: contain }

.bg-center  { background-position: center }
.bg-top     { background-position: top }
.bg-right   { background-position: right }
.bg-bottom  { background-position: bottom }
.bg-left    { background-position: left }

button,
.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
}

button,
button::after,
button::before,
.button,
.button::after,
.button::before {
  box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:hover { text-decoration: none }

.border-black  { border-color: #111 }
.border-gray   { border-color: #aaa }
.border-silver { border-color: #ddd }
.border-white  { border-color: #fff }

.border-aqua  { border-color: #7fdbff }
.border-blue  { border-color: #0074d9 }
.border-navy  { border-color: #001f3f }
.border-teal  { border-color: #39cccc }
.border-green { border-color: #2ecc40 }
.border-olive { border-color: #3d9970 }
.border-lime  { border-color: #01ff70 }

.border-yellow  { border-color: #ffdc00 }
.border-orange  { border-color: #ff851b }
.border-red     { border-color: #ff4136 }
.border-fuchsia { border-color: #f012be }
.border-purple  { border-color: #b10dc9 }
.border-maroon  { border-color: #85144b }

.border-darken-1 { border-color: rgba(0,0,0,.0625) }
.border-darken-2 { border-color: rgba(0,0,0,.125) }
.border-darken-3 { border-color: rgba(0,0,0,.25) }
.border-darken-4 { border-color: rgba(0,0,0,.5) }

.button-link {
  padding-right: 0;
  padding-left: 0;
  color: inherit;
  background-color: transparent;
  background-size: 100% .25em;
  background-repeat: repeat-x;
  background-position: 0 1.5rem;
  border-radius: 0;
}

.button-link:hover,
.button-link:focus {
  box-shadow: none;
  background-image: linear-gradient(transparent 50%, currentcolor 50%);
}

.button-link:active,
.button-link.is-active {
  box-shadow: inset 0 -.125em;
}

.button-link:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px rgba(0,0,0,.25);
}

.button-link:disabled,
.button-link.is-disabled {
  opacity: .5;
}

.button-outline {
  position: relative;
  z-index: 2;
  color: inherit;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid currentcolor;
}

.button-outline::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid transparent;
  background-color: currentcolor;
  border-radius: 3px;
  opacity: 0;
}

.button-outline:hover {
  box-shadow: none;
}

.button-outline:hover::before,
.button-outline:focus::before {
  opacity: .125;
}

.button-outline:focus {
  outline: none;
  border: 1px solid currentcolor;
  box-shadow: 0 0 0 2px;
}

.button-outline:active,
.button-outline.is-active {
  box-shadow: inset 0 1px 5px 0, 0 0 1px;
}

.button-outline:disabled,
.button-outline.is-disabled {
  opacity: .5;
}

.button-small {
  padding: .25rem .5rem;
}

.button-big {
  padding: 1rem 1.25rem;
}

.button-narrow {
  padding-left: .5rem;
  padding-right: .5rem;
}

.button {
  color: white;
  background-color: #0074d9;
  border-radius: 3px;
}

.button:hover {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.0625);
}

.button:focus {
  outline: none;
  border-color: rgba(0,0,0,.125);
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

.button:active,
.button.is-active {
  box-shadow: inset 0 0 0 20rem rgba(0,0,0,.125),
    inset 0 3px 4px 0 rgba(0,0,0,.25),
    0 0 1px rgba(0,0,0,.125);
}

.button:disabled,
.button.is-disabled {
  opacity: .5;
}

.button-transparent {
  position: relative;
  z-index: 2;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid transparent;
}

.button-transparent::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid transparent;
  background-color: currentcolor;
  opacity: 0;
}

.button-transparent:hover {
  box-shadow: none;
}

.button-transparent:hover::before,
.button-transparent:focus::before {
  opacity: .09375;
}

.button-transparent:focus {
  outline: none;
  border-color: transparent;
  box-shadow: 0 0 0 2px;
}

.button-transparent:active,
.button-transparent.is-active {
  box-shadow: none;
}

.button-transparent:active::before,
.button-transparent.is-active::before {
  opacity: .0625;
}

.button-transparent:disabled,
.button-transparent.is-disabled {
  opacity: .5;
}

.button-blue {
  color: white;
  background-color: #0074d9;
  border-radius: 3px;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-blue:hover {
  opacity: .875;
}

.button-blue:active,
.button-blue.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-blue:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba(#0074d9, .5);
}

.button-blue:disabled,
.button-blue.is-disabled {
  opacity: .5;
}

.button-blue-outline {
  color: #0074d9;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #0074d9;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-blue-outline:hover,
.button-blue-outline.is-active {
  color: white;
  background-color: #0074d9;
}

.button-blue-outline:active {
  box-shadow: inset 0 3px 3px 0 rgba(#000,.25);
}

.button-blue-outline:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba(#0074d9, .5);
}

.button-blue-outline:disabled,
.button-blue-outline.is-disabled {
  color: #0074d9;
  background-color: transparent;
  opacity: .5;
}

.button-red {
  color: white;
  background-color: #ff4136;
  border-radius: 3px;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-red:hover {
  opacity: .875;
}

.button-red:active,
.button-red.is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-red:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(white, .5), 0 0 1px 4px rgba(#ff4136, .5);
}

.button-red:disabled,
.button-red.is-disabled {
  opacity: .5;
}

.button-light-gray {
  color: #333;
  background-color: #ccc;
  border-radius: 3px;
  transition-duration: .1s;
  transition-timing-function: ease-out;
  transition-property: box-shadow, background-color;
}

.button-light-gray:hover {
  opacity: .875;
}

.button-light-gray:active,
.button-light-gray:is-active {
  box-shadow: inset 0 0 0 32px rgba(#000,.125), inset 0 2px 3px 0 rgba(#000,.25);
}

.button-light-gray:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(#0074d9, .5);
}

.button-light-gray:disabled,
.button-light-gray.is-disabled {
  opacity: .5;
}

.button-nav-light:hover {
  background-color: rgba(0,0,0,.0625);
}
.button-nav-light:active,
.button-nav-light.is-active {
  color: #333;
}

.button-nav-dark {
  color: white;
}

.button-nav-dark:hover {
  background-color: rgba(0,0,0,.125);
}

.button-nav-dark:active,
.button-nav-dark.is-active {
  background-color: rgba(0,0,0,.125);
}

.field-dark {
  color: white;
  background-color: rgba(0,0,0,.25);
  border: 1px solid rgba(0,0,0,.0625);
  border-radius: 3px;
  border-radius: 3px;
}

.field-dark::-moz-placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark:-ms-input-placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark::placeholder {
  color: rgba(255,255,255,.75);
}

.field-dark:focus {
  outline: 0;
  border: 1px solid rgba(255,255,255,.5);
  box-shadow: 0 0 0 2px rgba(255,255,255,.25);
}

.field-dark:read-only:not(select) {
  background-color: rgba(255,255,255,.25);
}

.field-dark.is-success {
  border-color: #2ecc40;
}

.field-dark.is-success:focus {
  box-shadow: 0 0 0 2px rgba(46, 204, 64, 0.5);
}

.field-dark.is-warning {
  border-color: #ffdc00;
}

.field-dark.is-warning:focus {
  box-shadow: 0 0 0 2px rgba(255, 220, 0, 0.5);
}

.field-dark:invalid,
.field-dark.is-error {
  border-color: #ff4136;
}

.field-dark.is-error:focus {
  box-shadow: 0 0 0 2px rgba(255, 65, 54, 0.5);
}

.range-light {
  color: inherit;
  background-color: transparent;
  -webkit-appearance: none;
}

.range-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  background-color: currentcolor;
}

.range-light::-moz-range-thumb {
  border-radius: 3px;
  border-color: transparent;
  border-width: 0;
  background-color: currentcolor;
}

.range-light::-webkit-slider-runnable-track {
  border-radius: 3px;
  background-color: rgba(0,0,0,.25);
}

.range-light::-moz-range-track {
  border-radius: 3px;
  background-color: rgba(0,0,0,.25);
}

.range-light:focus {
  outline: none;
}

.range-light:focus::-webkit-slider-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 1px 2px currentcolor;
}

.range-light:focus::-moz-range-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

.progress {
  background-color: rgba(0,0,0,.125);
  border: 0;
  border-radius: 10000px;
}

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0,.125)
}

.progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: currentColor;
}

.progress::-moz-progress-bar {
  background-color: currentColor;
}

.hljs {
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header,
.hljs-javadoc {
  color: #aaa;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #111;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
  color: #3d9970;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
  color: #ff4136;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #ff4136;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #001f3f;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
  color: #001f3f;
  font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
  color: #3d9970;
}

.hljs-regexp {
  color: #3d9970;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #b10dc9;
}

.hljs-built_in {
  color: #001f3f;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
  color: #aaa;
  font-weight: bold;
}

.hljs-deletion {
  background: #f012be;
}

.hljs-addition {
  background: #01ff70;
}

.diff .hljs-change {
  background: #001f3f;
}

.hljs-chunk {
  color: #ddd;
}

input[type=range] {
  vertical-align: middle;
  background-color: transparent;
}

.range-light {
  color: inherit;
  -webkit-appearance: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.range-light::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: .5rem;
  height: 1.25rem;
  border-radius: 3px;
  background-color: currentcolor;
  cursor: pointer;
  margin-top: -0.5rem;
}
.range-light::-webkit-slider-thumb:before {
  content: '';
  display: block;
  position: absolute;
  top: -0.5rem;
  left: -0.875rem;
  width: 2.25rem;
  height: 2.25rem;
  opacity: 0;
}

.range-light::-moz-range-thumb {
  width: .5rem;
  height: 1.25rem;
  border-radius: 3px;
  border-color: transparent;
  border-width: 0;
  background-color: currentcolor;
  cursor: pointer;
}

.range-light::-webkit-slider-runnable-track {
  height: 0.25rem;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(0,0,0,.25);
}

.range-light::-moz-range-track {
  height: 0.25rem;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(0,0,0,.25);
}

.range-light:focus {
  outline: none;
}

.range-light:focus::-webkit-slider-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 1px 2px currentcolor;
}

.range-light:focus::-moz-range-thumb {
  outline: none;
  border: 0;
  box-shadow: 0 0 0 3px rgba(0,0,0,.25);
}

.progress {
  display: block;
  width: 100%;
  height: 0.5625rem;
  margin: .5rem 0;
  background-color: rgba(0,0,0,.125);
  border: 0;
  border-radius: 10000px;
  overflow: hidden;
  -webkit-appearance: none;
}

.progress::-webkit-progress-bar {
  -webkit-appearance: none;
  background-color: rgba(0,0,0,.125)
}

.progress::-webkit-progress-value {
  -webkit-appearance: none;
  background-color: currentColor;
}

.progress::-moz-progress-bar {
  background-color: currentColor;
}

@media (min-width: 40em) {

  .sm-m0  { margin:        0 }
  .sm-mt0 { margin-top:    0 }
  .sm-mr0 { margin-right:  0 }
  .sm-mb0 { margin-bottom: 0 }
  .sm-ml0 { margin-left:   0 }

  .sm-m1  { margin: .5rem }
  .sm-mt1 { margin-top: .5rem }
  .sm-mr1 { margin-right: .5rem }
  .sm-mb1 { margin-bottom: .5rem }
  .sm-ml1 { margin-left: .5rem }

  .sm-m2  { margin: 1rem }
  .sm-mt2 { margin-top: 1rem }
  .sm-mr2 { margin-right: 1rem }
  .sm-mb2 { margin-bottom: 1rem }
  .sm-ml2 { margin-left: 1rem }

  .sm-m3  { margin: 2rem }
  .sm-mt3 { margin-top: 2rem }
  .sm-mr3 { margin-right: 2rem }
  .sm-mb3 { margin-bottom: 2rem }
  .sm-ml3 { margin-left: 2rem }

  .sm-m4  { margin: 4rem }
  .sm-mt4 { margin-top: 4rem }
  .sm-mr4 { margin-right: 4rem }
  .sm-mb4 { margin-bottom: 4rem }
  .sm-ml4 { margin-left: 4rem }

  .sm-mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
  .sm-mxn2 { margin-left: -1rem; margin-right: -1rem; }
  .sm-mxn3 { margin-left: -2rem; margin-right: -2rem; }
  .sm-mxn4 { margin-left: -4rem; margin-right: -4rem; }

  .sm-mx-auto { margin-left: auto; margin-right: auto; }

}
@media (min-width: 52em) {

  .md-m0  { margin:        0 }
  .md-mt0 { margin-top:    0 }
  .md-mr0 { margin-right:  0 }
  .md-mb0 { margin-bottom: 0 }
  .md-ml0 { margin-left:   0 }

  .md-m1  { margin: .5rem }
  .md-mt1 { margin-top: .5rem }
  .md-mr1 { margin-right: .5rem }
  .md-mb1 { margin-bottom: .5rem }
  .md-ml1 { margin-left: .5rem }

  .md-m2  { margin: 1rem }
  .md-mt2 { margin-top: 1rem }
  .md-mr2 { margin-right: 1rem }
  .md-mb2 { margin-bottom: 1rem }
  .md-ml2 { margin-left: 1rem }

  .md-m3  { margin: 2rem }
  .md-mt3 { margin-top: 2rem }
  .md-mr3 { margin-right: 2rem }
  .md-mb3 { margin-bottom: 2rem }
  .md-ml3 { margin-left: 2rem }

  .md-m4  { margin: 4rem }
  .md-mt4 { margin-top: 4rem }
  .md-mr4 { margin-right: 4rem }
  .md-mb4 { margin-bottom: 4rem }
  .md-ml4 { margin-left: 4rem }

  .md-mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
  .md-mxn2 { margin-left: -1rem; margin-right: -1rem; }
  .md-mxn3 { margin-left: -2rem; margin-right: -2rem; }
  .md-mxn4 { margin-left: -4rem; margin-right: -4rem; }

  .md-mx-auto { margin-left: auto; margin-right: auto; }

}
@media (min-width: 64em) {

  .lg-m0  { margin:        0 }
  .lg-mt0 { margin-top:    0 }
  .lg-mr0 { margin-right:  0 }
  .lg-mb0 { margin-bottom: 0 }
  .lg-ml0 { margin-left:   0 }

  .lg-m1  { margin: .5rem }
  .lg-mt1 { margin-top: .5rem }
  .lg-mr1 { margin-right: .5rem }
  .lg-mb1 { margin-bottom: .5rem }
  .lg-ml1 { margin-left: .5rem }

  .lg-m2  { margin: 1rem }
  .lg-mt2 { margin-top: 1rem }
  .lg-mr2 { margin-right: 1rem }
  .lg-mb2 { margin-bottom: 1rem }
  .lg-ml2 { margin-left: 1rem }

  .lg-m3  { margin: 2rem }
  .lg-mt3 { margin-top: 2rem }
  .lg-mr3 { margin-right: 2rem }
  .lg-mb3 { margin-bottom: 2rem }
  .lg-ml3 { margin-left: 2rem }

  .lg-m4  { margin: 4rem }
  .lg-mt4 { margin-top: 4rem }
  .lg-mr4 { margin-right: 4rem }
  .lg-mb4 { margin-bottom: 4rem }
  .lg-ml4 { margin-left: 4rem }

  .lg-mxn1 { margin-left: -.5rem; margin-right: -.5rem; }
  .lg-mxn2 { margin-left: -1rem; margin-right: -1rem; }
  .lg-mxn3 { margin-left: -2rem; margin-right: -2rem; }
  .lg-mxn4 { margin-left: -4rem; margin-right: -4rem; }

  .lg-mx-auto { margin-left: auto; margin-right: auto; }

}

@media (min-width: 40em) {

  .sm-p1  { padding: .5rem }
  .sm-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .sm-px1 { padding-left: .5rem; padding-right: .5rem }

  .sm-p2  { padding: 1rem }
  .sm-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .sm-px2 { padding-left: 1rem; padding-right: 1rem }

  .sm-p3  { padding: 2rem }
  .sm-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .sm-px3 { padding-left: 2rem; padding-right: 2rem }

  .sm-p4  { padding: 4rem }
  .sm-py4 { padding-top: 4rem; padding-bottom: 4rem }
  .sm-px4 { padding-left: 4rem; padding-right: 4rem }

}
@media (min-width: 52em) {

  .md-p1  { padding: .5rem }
  .md-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .md-px1 { padding-left: .5rem; padding-right: .5rem }

  .md-p2  { padding: 1rem }
  .md-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .md-px2 { padding-left: 1rem; padding-right: 1rem }

  .md-p3  { padding: 2rem }
  .md-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .md-px3 { padding-left: 2rem; padding-right: 2rem }

  .md-p4  { padding: 4rem }
  .md-py4 { padding-top: 4rem; padding-bottom: 4rem }
  .md-px4 { padding-left: 4rem; padding-right: 4rem }

}
@media (min-width: 64em) {

  .lg-p1  { padding: .5rem }
  .lg-py1 { padding-top: .5rem; padding-bottom: .5rem }
  .lg-px1 { padding-left: .5rem; padding-right: .5rem }

  .lg-p2  { padding: 1rem }
  .lg-py2 { padding-top: 1rem; padding-bottom: 1rem }
  .lg-px2 { padding-left: 1rem; padding-right: 1rem }

  .lg-p3  { padding: 2rem }
  .lg-py3 { padding-top: 2rem; padding-bottom: 2rem }
  .lg-px3 { padding-left: 2rem; padding-right: 2rem }

  .lg-p4  { padding: 4rem }
  .lg-py4 { padding-top: 4rem; padding-bottom: 4rem }
  .lg-px4 { padding-left: 4rem; padding-right: 4rem }

}

.table {
  display: table;
  width: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.table-fixed { table-layout: fixed }
@media (min-width: 40em) {

  .sm-table {
    display: table;
    width: 100%;
  }
  .sm-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}
@media (min-width: 52em) {

  .md-table {
    display: table;
    width: 100%;
  }
  .md-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}
@media (min-width: 64em) {

  .lg-table {
    display: table;
    width: 100%;
  }
  .lg-table-cell {
    display: table-cell;
    vertical-align: middle;
  }

}

.x-group-item { margin-left: -1px }
.x-group-item:first-of-type { margin-left: 0 }

.y-group-item { margin-top: -1px }
.y-group-item:first-of-type { margin-top: 0 }

.x-group-item:focus,
.y-group-item:focus {
  position: relative;
  z-index: 1;
}

/* Responsive bits below lifted from Basscss v8 */

@media (min-width: 40em) {
  .sm-left-align   { text-align: left }
  .sm-center       { text-align: center }
  .sm-right-align  { text-align: right }
  .sm-justify      { text-align: justify }
}

@media (min-width: 52em) {
  .md-left-align   { text-align: left }
  .md-center       { text-align: center }
  .md-right-align  { text-align: right }
  .md-justify      { text-align: justify }
}

@media (min-width: 64em) {
  .lg-left-align   { text-align: left }
  .lg-center       { text-align: center }
  .lg-right-align  { text-align: right }
  .lg-justify      { text-align: justify }
}

.h00 { font-size: 4rem }
.h0 {  font-size: 3rem }

@media (min-width: 52em) {
  .h00-responsive { font-size: 8vw }
  .h0-responsive {  font-size: 6vw }
  .h1-responsive {  font-size: 4vw }
}

@media (min-width: 96em) {
  .h00-responsive { font-size: 7.68rem }
  .h0-responsive {  font-size: 5.76rem }
  .h1-responsive {  font-size: 3.84rem }
}

@media (min-width: 40em) {
  .sm-h00 { font-size: 4rem }
  .sm-h0 { font-size: 3rem }
  .sm-h1 { font-size: 2rem }
  .sm-h2 { font-size: 1.5rem }
  .sm-h3 { font-size: 1.25rem }
  .sm-h4 { font-size: 1rem }
  .sm-h5 { font-size: .875rem }
  .sm-h6 { font-size: .75rem }
}

@media (min-width: 52em) {
  .md-h00 { font-size: 4rem }
  .md-h0 { font-size: 3rem }
  .md-h1 { font-size: 2rem }
  .md-h2 { font-size: 1.5rem }
  .md-h3 { font-size: 1.25rem }
  .md-h4 { font-size: 1rem }
  .md-h5 { font-size: .875rem }
  .md-h6 { font-size: .75rem }
}

@media (min-width: 64em) {
  .lg-h00 { font-size: 4rem }
  .lg-h0 { font-size: 3rem }
  .lg-h1 { font-size: 2rem }
  .lg-h2 { font-size: 1.5rem }
  .lg-h3 { font-size: 1.25rem }
  .lg-h4 { font-size: 1rem }
  .lg-h5 { font-size: .875rem }
  .lg-h6 { font-size: .75rem }
}
